header {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 80px;
}

.title h1 {
  font-size: 18px;
  margin: 0;
}

nav {
  position: relative;
}

.toggle-menu {
  display: none;
}

.toggle-menu-btn {
  cursor: pointer;
  font-size: 24px;
  display: none;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

/* Media Query para hacer el menú responsive */
@media screen and (max-width: 768px) {
  .toggle-menu-btn {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #000;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    margin: 10px 0;
  }

  .toggle-menu:checked + .menu {
    display: flex;
  }
}
