<header>
  <div class="title">
    <h1>Zapatillas iconicas</h1>
  </div>
  <nav>
    <input type="checkbox" id="toggle-menu" class="toggle-menu" />
    <label for="toggle-menu" class="toggle-menu-btn">&#9776;</label>
    <ul class="menu">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/spezial">Spezial</a></li>
      <li><a routerLink="/converse">Converse</a></li>
      <li><a routerLink="/new-balance">New Balance</a></li>
      <li><a routerLink="/samba">Contacto</a></li>
    </ul>
  </nav>
</header>
