<section class="info-section">
  <div class="container">
    <h2>Bienvenido a nuestra web sobre zapatillas icónicas</h2>
    <p>
      En nuestra plataforma, exploramos la fascinante cultura de las zapatillas
      y su impacto en la moda y la sociedad. Desde las raíces de las zapatillas
      deportivas en el mundo del deporte hasta su evolución como un símbolo de
      expresión personal y estilo de vida, estamos aquí para explorar cada
      aspecto.
    </p>
    <p>
      Destacamos marcas emblemáticas como Adidas, Converse y New Balance, cada
      una con su propia historia y legado en la industria del calzado.
    </p>
  </div>
</section>

<section class="brands-section">
  <h2>Marcas icónicas</h2>
  <div class="container">
    <div class="brand">
      <img
        src="https://thumbs.dreamstime.com/b/ilustraci%C3%B3n-vectorial-del-logotipo-de-adidas-sobre-fondo-blanco-en-editorial-aislada-192037111.jpg"
        alt="Adidas"
      />
      <h3>Adidas</h3>
      <p>
        Adidas es una marca de ropa y calzado deportivo conocida por su
        innovación y diseño. Fundada en 1949 en Alemania, Adidas se ha
        convertido en una de las marcas más reconocidas y queridas en el mundo
        del deporte y la moda.
      </p>
    </div>
    <div class="brand">
      <img
        src="https://i.pinimg.com/originals/c5/95/4d/c5954d7cc0ced1bb721c8eae0c6b0553.jpg"
        alt="Converse"
      />
      <h3>Converse</h3>
      <p>
        Converse es una marca legendaria conocida por sus icónicas zapatillas
        Chuck Taylor All Star. Desde su fundación en 1908 en Estados Unidos,
        Converse ha sido un símbolo de la cultura urbana y la expresión
        personal.
      </p>
    </div>
    <div class="brand">
      <img
        src="https://cdn.worldvectorlogo.com/logos/new-balance-2.svg"
        alt="New Balance"
      />
      <h3>New Balance</h3>
      <p>
        New Balance es una marca estadounidense de calzado deportivo y ropa
        activa. Fundada en 1906 en Boston, Massachusetts, New Balance se ha
        destacado por su enfoque en la comodidad, la calidad y la innovación en
        el diseño de calzado deportivo.
      </p>
    </div>
  </div>
</section>
