body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.info-section {
  text-align: center;
}

.info-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.info-text {
  font-size: 1.2rem;
  color: #666;
}

.brands-section {
  text-align: center;
  margin-top: 40px;
}

.card {
  display: flex;
  margin-top: 2rem; /* Separación entre las tarjetas */
}

.card:last-child {
  margin-right: 0; /* Eliminar margen derecho en la última tarjeta */
}

.card-image {
  width: 100%;
  max-width: 200px; /* Tamaño máximo de las imágenes */
  height: auto;
  border-radius: 10px; /* Borde redondeado */
}

.card-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-title {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.card-description {
  margin-top: 10px;
  font-size: 1rem;
  color: #666;
}

.margin {
  margin: 2rem;
}
