<body>
  <section class="info-section">
    <div class="container_intro">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
        <div class="margin">
          <h2 class="info-title">New Balance</h2>
          <p class="info-text">
            New Balance es una reconocida marca de calzado y ropa deportiva
            fundada en 1906 en Boston, Massachusetts. La marca se ha destacado
            por su enfoque en la comodidad y la calidad, produciendo algunos de
            los modelos más icónicos y populares del mundo del calzado
            deportivo.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="brands-section">
    <h2 class="info-title">Modelos más famosos</h2>
    <div class="container">
      <div class="slider">
        <div class="card">
          <img
            src="../../../assets/img/newBalance1.jpg"
            alt="Modelo 1"
            class="card-image"
          />
          <div class="card-info">
            <h3 class="card-title">New Balance 550</h3>
            <p class="card-description">
              Las New Balance 550 son unas zapatillas de estilo retro que
              combinan a la perfección el diseño clásico con la comodidad
              moderna. Su estilo icónico las hace destacar en cualquier ocasión.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="../../../assets/img/newBalance574.jpg"
            alt="Modelo 2"
            class="card-image"
          />
          <div class="card-info">
            <h3 class="card-title">New Balance 574</h3>
            <p class="card-description">
              Las New Balance 574 son unas zapatillas versátiles y duraderas que
              ofrecen un ajuste cómodo y un estilo clásico. Su diseño atemporal
              las convierte en una opción popular para el uso diario.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="../../../assets/img/newBalance530.jpg"
            alt="Modelo 3"
            class="card-image"
          />
          <div class="card-info">
            <h3 class="card-title">New Balance 530</h3>
            <p class="card-description">
              Las New Balance 530 son unas zapatillas elegantes y deportivas que
              ofrecen una excelente combinación de estilo y rendimiento. Con su
              diseño retro y su comodidad superior, son una elección perfecta
              para cualquier ocasión.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
