<body>
  <section class="info-section">
    <div class="container_intro">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
        <div
          class="text-center lg:text-left flex justify-center lg:justify-start"
        >
          <h2 class="info-title">Descubre Adidas Spezial</h2>
          <p class="info-text">
            El Adidas Spezial es un modelo icónico de zapatillas deportivas
            lanzado por Adidas en 1979. Conocido por su diseño clásico y su
            durabilidad, el Spezial se ha convertido en un favorito entre los
            entusiastas de las zapatillas de todo el mundo. Este modelo ha sido
            utilizado por atletas de renombre y ha dejado una huella indeleble
            en la cultura del calzado deportivo.
          </p>
          <p class="info-text">
            Además de su rendimiento excepcional, el Adidas Spezial también ha
            destacado por su estilo distintivo y su versatilidad. Desde las
            calles de las ciudades hasta las pistas de baile, estas zapatillas
            han sido adoptadas por diversos grupos de personas y se han
            convertido en un elemento básico en la moda urbana.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="brands-section">
    <h2 class="info-title">Modelos icónicos</h2>
    <div class="container">
      <div class="slider">
        <img src="../../../assets/img/spezial1.jpg" alt="Modelo 1" />
        <img src="../../../assets/img/spezial2.jpg" alt="Modelo 2" />
        <img src="../../../assets/img/spezial3.jpg" alt="Modelo 3" />
        <img src="../../../assets/img/spezial4.jpg" alt="Modelo 4" />
        <img src="../../../assets/img/spezial5.jpg" alt="Modelo 5" />
      </div>
    </div>
  </section>
</body>
