<div class="container">
  <h1>Converse</h1>
  <div class="image-container">
    <img src="ruta-a-imagen-converse" alt="Converse" />
  </div>
  <h2>Descripción</h2>
  <p>
    Converse es una marca de calzado y ropa estadounidense conocida por su
    icónico diseño de zapatillas. Fundada en 1908, Converse ha producido algunos
    de los modelos de calzado más icónicos y reconocibles de todos los tiempos.
  </p>
  <h2>Modelos icónicos</h2>
  <div class="image-container">
    <img src="ruta-a-imagen-chuck-taylor" alt="Chuck Taylor" />
    <p>Converse Chuck Taylor All Star</p>
    <p>
      Las Chuck Taylor All Star son unas zapatillas de lona fabricadas por
      Converse. Fueron las primeras zapatillas de baloncesto producidas en masa
      en 1917 y, aunque la versión original estaba compuesta solo por lona, la
      empresa ha lanzado versiones fabricadas en cuero, gamuza y otras telas.
    </p>
  </div>
  <div class="image-container">
    <img src="ruta-a-imagen-jack-purcell" alt="Jack Purcell" />
    <p>Converse Jack Purcell</p>
    <p>
      Las Converse Jack Purcell son unas zapatillas deportivas fabricadas por la
      compañía Converse. Las zapatillas llevan el nombre del jugador de
      bádminton canadiense Jack Purcell, quien supuestamente diseñó las
      zapatillas para la B.F. Goodrich en 1935. La zapatilla tiene una silueta
      similar a las Chuck Taylor All-Stars, pero con una suela de goma
      diferente.
    </p>
  </div>
  <div class="image-container">
    <img src="ruta-a-imagen-one-star" alt="One Star" />
    <p>Converse One Star</p>
    <p>
      Las Converse One Star son unas zapatillas bajas de baloncesto fabricadas
      por Converse, que se introdujeron por primera vez en 1974 como zapatillas
      deportivas. Las One Star se diseñaron originalmente como calzado deportivo
      y se relanzaron en los años 90 como zapatillas de estilo de vida.
    </p>
  </div>
</div>
