<body>
  <div class="container">
    <h1 class="titulo">Converse</h1>
    <p>
      Converse es una marca de calzado y ropa estadounidense conocida por su
      icónico diseño de zapatillas. Fundada en 1908, Converse ha producido
      algunos de los modelos de calzado más icónicos y reconocibles de todos los
      tiempos.
    </p>
    <h2 class="titulo">Modelos icónicos</h2>
    <div class="gallery">
      <div class="card">
        <img src="../../../assets/img/converse1.jpg" alt="Chuck Taylor" />
        <div class="card-info">
          <h3 class="subtitulo">Chuck Taylor All Star</h3>
          <p>
            Las Chuck Taylor All Star son unas zapatillas de lona fabricadas por
            Converse. Fueron las primeras zapatillas de baloncesto producidas en
            masa en 1917 y, aunque la versión original estaba compuesta solo por
            lona, la empresa ha lanzado versiones fabricadas en cuero, gamuza y
            otras telas.
          </p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/converse2.jpg" alt="Jack Purcell" />
        <div class="card-info">
          <h3 class="subtitulo">Jack Purcell</h3>
          <p>
            Las Converse Jack Purcell son unas zapatillas deportivas fabricadas
            por la compañía Converse. Las zapatillas llevan el nombre del
            jugador de bádminton canadiense Jack Purcell, quien supuestamente
            diseñó las zapatillas para la B.F. Goodrich en 1935. La zapatilla
            tiene una silueta similar a las Chuck Taylor All-Stars, pero con una
            suela de goma diferente.
          </p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/converse3.jpg" alt="One Star" />
        <div class="card-info">
          <h3 class="subtitulo">One Star</h3>
          <p>
            Las Converse One Star son unas zapatillas bajas de baloncesto
            fabricadas por Converse, que se introdujeron por primera vez en 1974
            como zapatillas deportivas. Las One Star se diseñaron originalmente
            como calzado deportivo y se relanzaron en los años 90 como
            zapatillas de estilo de vida.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
